@require "helpers"

text-color = #000
mobile-width = 600px

body
	margin 0
	padding 0
	font-family sans-serif	
#navbar
	position relative
	marginbottom 50px
	top 0
	width calc(100% - 40px)
	padding 20px
	background crimson

#navbar span
	color white
	font-size 2em
	text-transform uppercase
	font-family 'Futura', sans-serif

#nb-items
	float right
#nb-items *
	padding-left 20px

// FORM
.form-box
	width 50%
	margin 0px 25%
	box-shadow 0px 0px 20px #CCC
	padding 30px
.fb-item
	margin-bottom 20px
.fb-item input
	width 100%
	font-size 1.2em
.fb-item *
	-webkit-transition-duration 0.4s
	transtion-duration 0.4s
	border 2px solid white
.fb-item *:focus
	outline none
	border 2px solid crimson
#submit
	bottom 0
	left 0
	width 100%
	background crimson
	padding 20px
	text-align center
	color white
	font-size 1.4em
	text-transform upper
	border none
#submit:hover
	opacity 0.8


// TABS

.tab 
	overflow hidden
	border 1px solid #ccc
	background-color #f1f1f1
	width 50%

/* Style the buttons that are used to open the tab content */
.tab button 
	background-color inherit
	float left
	border none
	outline none
	cursor pointer
	padding 14px 16px
	transition 0.3s


/* Change background color of buttons on hover */
.tab button:hover 
	background-color #ddd


/* Create an active/current tablink class */
.tab button.active 
	background-color #ccc


/* Style the tab content */
.tabcontent 
	display none
	padding 6px 12px
	border 1px solid #ccc
	border-top none
	

.table-box
	width 100%
